# http://EditorConfig.org

# Don't look into parent directory.
root = true

[*]
charset = utf-8

# Indentation.
indent_style = space
indent_size = 2

# Whitespace handling.
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
