html {
font-family: Arial, Helvetica, sans-serif;
}

#exlink {
	text-align: right;
	color: #2C879B;
	background-color: #DBDBDB;
	margin-right: 12px;
}

#ac {
	text-align: right;
	color: black;
	margin-right: 12px;
	font-size: 8;

}
body {
    background-color: white;
}

em {
	color: #2A458C;
}

